.my_select {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
  
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
  
    padding-right: 14px;
    border:'solid 1px #000';
  }


select::-ms-expand { display: none; }

.avatar_img {max-height:120px; max-width:120px;}